{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/main/habits-index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/security/login.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
{% endblock %}

{% block body %}
            <div id="row-nav" class="row row-nav d-flex justify-content-end">
                <nav id="nav-bar" class=" navbar navbar-expand-sm">
                    <a href="{{ url('app_login') }}" class="logo-nav navbar-brand">
                        <img src="{{ asset('images/logo.png') }}" alt="Image">
                    </a>

                    <!--nav toogler-->
                    <button class="navbar-toggler" id="navbar-toggler" onclick="changeToggler()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"> <i class="fa-solid fa-bars"></i></span>
                    </button>

                    <!-- nav-bar -->
                    <div class=" collapse navbar-collapse " id="navbarSupportedContent">
                        <ul id="my-ul" class="ms-auto navbar-nav">

                            <li class="nav-item">
                                <a   class="nav-link" id="about" href="{{ url('app_about' )}}">About us</a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link" id="how" href="{{ url('app_blog' )}}">Blog</a>
                            </li>
                            <li class="nav-item d-none d-sm-block">
                                <a  class="nav-link button button-register" id="button-register" href="#">Register</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div id="row-content" class="row row-content">
                <div class="col-md-5 col-lg-6 first-col">
                    <div class="title">
                        <h2>Start better habits with Habito!</h2>
                    </div>
                    <img src="{{ asset('images/hero.png') }}" alt="Image">


                </div>
                <div class="col-md-7 col-lg-6 second-col">
                        <div class="hero ">
                            <div class="inner-box">

                                {% if is_granted('ROLE_USER') %}
                                    <h6>You are already logged in</h6>
                                    <div class="logout">
                                        <a onclick="logout()" href="{{ url('app_logout') }}"> <i class="bi bi-door-open-fill"></i><span class="d-md-block d-none">Logout</span></a>
                                    </div>
                                {% else%}
                                <div id="my-element" data-my-variable="{{registrationError }}"></div>
                                <!-- left side- login form -->
                                <div class="wrapper {% if  registrationError  is defined and  registrationError == 1  %} active {% endif %}">

                                    <!-- sign-up form -->
                                    <div class="form-wrapper sign-up">

                                        <!-- header -->
                                        <div>
                                            <h5 class="form-title">Register</h5>
                                            <div class="signUp-link">
                                                <p class="small-text">Already have an account?
                                                    <a href="#" class="signInBtn-link link">Sign In</a>
                                                </p>
                                            </div>
                                        </div>

                                        <!-- form -->

                                            {{ form_start(registrationForm) }}
                                            <div class="errors">
                                                <!-- errors -->
                                                {{ form_errors(registrationForm.email) }}
                                                {{ form_errors(registrationForm.username) }}
                                                {{ form_errors(registrationForm.plainPassword) }}
                                            </div>
                                            <!-- inputs -->
                                            <div class="input-wrap">
                                                {{ form_widget(registrationForm.username) }}
                                                <label>Username</label>
                                            </div>
                                            <div class="input-wrap">
                                                {{ form_widget(registrationForm.email) }}
                                                <label>Email</label>
                                            </div>
                                            <div id="password-s" class="input-wrap ">
                                                {{ form_widget(registrationForm.plainPassword) }}
                                                <label>Password</label>
                                            </div>
                                            <div id="agree" class=" input-wrap">
                                                {{ form_widget(registrationForm.agreeTerms) }}
                                                <p class="small-text"> Agree to terms</p>
                                            </div>

                                            <!-- submit -->
                                            <button  type="submit" class="button">Register</button>

                                            {{ form_end(registrationForm) }}

                                    </div>

                                    <!-- sign-in form -->
                                    <div class="form-wrapper sign-in">

                                        <!-- header -->
                                        <div>
                                            <h5 class="form-title">Please sign in</h5>
                                            <div class="signUp-link">
                                                <p class="small-text"> Don't have account yet?
                                                    <a href="#" class="signUpBtn-link link ">Sign Up</a>
                                                </p>
                                            </div>
                                        </div>

                                        <!-- Form -->
                                        <form method="post">

                                            <!-- errors -->
                                            {% if error %}
                                                <div class="errors">
                                                    Invalid login or password!
                                                </div>
                                            {% endif %}

                                            <!-- inputs -->
                                            <div class="input-wrap">


                                                <input id="login-name" type="email"  name="email" autocomplete="email"  required autofocus>
                                                <label>Email</label>
                                            </div>
                                            <div id="password-r" class="input-wrap ">
                                                <input type="password" name="password"  autocomplete="new-password" required>
                                                <label>Passowrd</label>
                                            </div>

                                            <!-- Forgot password -->
                                            <div>
                                                <a class="small-text forgot link" href="{{ path('app_forgot_password_request')}}">Forgot password?</a>
                                            </div>

                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                            <!-- submit -->
                                            <div>
                                                <button class="button"  type="submit">
                                                    Sign in
                                                </button>
                                            </div>
                                        </form>

                                    </div>  <!-- form-wrapper -->

                                </div>  <!-- wrapper -->
                                 {% endif %}
                            </div>  <!-- inner-box -->
                        </div>
                </div>

            </div>


{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/093c7f6b78.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/main/nav.js') }}"></script>
    <script src="{{ asset('js/login.js') }}"></script>
    <script>
        (function () {
            window.onpageshow = function(event) {
                if (event.persisted) {
                    window.location=window.location;

                }
            };
        })();
    </script>
{% endblock %}


