{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ asset('css/main/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/reset/reset-password.css') }}">
{% endblock %}

{% block body %}
    <div class="main">
        <div id="row-nav" class="row row-nav d-flex justify-content-end">
            <nav id="nav-bar" class=" navbar navbar-expand-sm">
                <a href="{{ url('app_login') }}" class="logo-nav navbar-brand">
                    <img src="{{ asset('images/logo.png') }}" alt="Image">
                </a>

                <!--nav toogler-->
                <button class="navbar-toggler" id="navbar-toggler" onclick="changeToggler()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"> <i class="fa-solid fa-bars"></i></span>
                </button>

                <!-- nav-bar -->
                <div class=" collapse navbar-collapse " id="navbarSupportedContent">
                    <ul id="my-ul" class="ms-auto navbar-nav">

                        <li class="nav-item">
                            <a   class="nav-link" id="about" href="{{ url('app_about' )}}">About us</a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link" id="how" href="">Blog</a>
                        </li>
                        <li class="nav-item d-none d-sm-block">
                            <a  class="nav-link button button-register" id="button-register"  href="{{ url('app_login') }}">Log in</a>
                        </li>


                    </ul>
                </div>
            </nav>
        </div>
        <div id="row-content" class="row row-content">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <div class="header">
                <p>
                    If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                    This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                </p>
                <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/093c7f6b78.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/main/nav.js') }}"></script>
{% endblock %}