{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/main/habits-index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main/week.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main/image-modal.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
{% endblock %}

{% block body %}
    <div class="row main-row">
        <div class=" col-first col-lg-1 col-md-1 col-sm-1 order-2 order-sm-1 ">
            <div class="side-menu-wrapper d-flex flex-column">
                <div class="logo">
                    <img src="{{ asset('images/logo.png') }}" alt="Image">
                </div>
                <div class="menu">
                    <button id="home" class="menu-option-wrapper" onclick="changePage('home')">
                        <i class="fa-solid fa-house"></i>
                    </button>
                    <button id="week" class="menu-option-wrapper" onclick="changePage('week')">
                        <i class="fa-solid fa-calendar"></i>
                    </button>
                </div>
                <div class="logout">
                    <a class=" " href="{{ url('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
                </div>
            </div>
        </div>
        <div class=" col-second col-lg-11  col-md-11 col-sm-11 order-1 order-sm-2 ">
            <div class="row row-nav d-flex justify-content-end">
                <nav class=" navbar navbar-expand-sm col-md-8">
                    <div class="container-fluid">
                        <a href="{{ url('app_main') }}" class="logo navbar-brand ">
                        </a>
                        <!--nav toogler-->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"> <i class="fa-solid fa-bars"></i></span>
                        </button>

                        <!-- nav-bar -->
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul id="my-ul" class="ms-auto navbar-nav">

                                <li class="nav-item">
                                    <a   class="nav-link" id="about" href="{{ url('app_about' )}}">About us</a>
                                </li>
                                <li class="nav-item">
                                    <a  class="nav-link" id="how" href="">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <div class=" nav-col-2">
                                        <div class="user-pic">
                                            <img src="{{ asset('uploads/profile_images/'~user.image) }}">
                                        </div>
                                        <div class="username">
                                            <p class="p1">{{ user.username }}</p>
                                            <p class="p2">User</p>
                                        </div>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownMenuButton">
                                                <button type="button" class=" image-button dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-image">
                                                    <i class="fa-solid fa-pen-to-square"></i><p> edit profile picture</p>
                                                </button>
                                                <div class="dropdown-divider"></div>
                                                <button type="button" {% if user.image == 'user_default.png' %}class="disabled image-button dropdown-item" {% else%} class="image-button dropdown-item" {% endif %}data-bs-toggle="modal" data-bs-target="#modal-delete">
                                                    <i class="fa-solid fa-trash"></i><p> delete profile picture</p>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="modal-image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">

                                                    <div class="modal-body modal-image-body">
                                                        <div class="form-header d-flex justify-content-between">
                                                            <h2>Profile</h2>
                                                            <button type="button" class="close button-close" data-bs-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>

                                                        <form id="image-form"  action="{{ path('test')}}" class="image-form" enctype="multipart/form-data" method="post">
                                                            <div class="preview-wrapper">
                                                                <img id="preview" class="preview" src="{{ asset('uploads/profile_images/'~user.image) }}">
                                                            </div>
                                                            <div class="user-details">
                                                                <h5>{{ user.username }}</h5>
                                                                <p>{{ user.email }}</p>
                                                            </div>
                                                            <div>

                                                                Select image from the device
                                                                <label for="profile_picture_form_image">Upload</label>
                                                                <div class=""> <input type="file" id="profile_picture_form_image" name="profile_picture_form[image]"  accept="image/*" required></div>
                                                                <div id="dropArea" class="">
                                                                    <div id="dropArea-message"></div>
                                                                </div>
                                                            </div>


                                                            {{ form_row(imageForm._token) }}
                                                            <button type="submit">save</button>

                                                        </form>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        Are you sure you want to delete profile picture?
                                                        <button type="button" id="delete-image"> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row row-content">
                <div class="content-col-first col-lg-8" id="page-container">
                    <div class="row banner-row">
                        <div class="banner">
                            <div class="banner-text">
                                <h5>Start New Habit</h5>
                                <p>Craft Your Future With New Habits!</p>
                                <buton type="button" class="button-create" id="create-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    Add
                                </buton>
                            </div>
                            <div class="banner-img">
                            </div>
                        </div>
                    </div>
                    <div class="row habits-row">
                        <div class="col-md-7 habits-today-wrapper">
                            <div class="today-habits">
                                <h3>Today</h3>
                                <div id="today-habits" class="habits">
                                    {% if todayHabits is defined and todayHabits|length %}
                                        {% for habit in todayHabits %}

                                            {% if ( habit.lastExecution|date("m/d/Y") != date|date("m/d/Y") )%}
                                                {% set variable = 'check' %}
                                            {% else %}
                                                {% set variable = 'uncheck' %}
                                            {% endif %}

                                            <!-- habit -->
                                            <div class="habit habit-{{variable}}" id="habit-{{ habit.id }}">
                                                <div id="icon-{{ habit.id }}" class="habit_image_{{ habit.image }} icon"> </div>
                                                <div class="habit-details-wrapper">
                                                    <div id="name-{{ habit.id }}" class="habit-name name-{{variable}} name-{{ habit.id }}">
                                                        {{ habit.name }}
                                                    </div>
                                                    <div class="streak">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                                                            <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z"/>
                                                        </svg>
                                                        <div id="streak" class="streak-{{ habit.id }}">{{ habit.streak}}</div>
                                                    </div>

                                                    <!-- button done -->
                                                </div>
                                                <div class="streak-container ">

                                                    <button habit-id="{{ habit.id }}"
                                                            id="Button-{{ habit.id }}" type="button"
                                                            class="myButton  button-{{ variable }}"
                                                            {% if ( habit.lastExecution|date("m/d/Y") != date|date("m/d/Y") ) %}
                                                                onclick="showModal({{ habit.id }})"
                                                                status="check"
                                                            {% else %}
                                                                status="uncheck"
                                                            {% endif %}
                                                            data-bs-toggle="modal"
                                                            data="{{ habit.id }}"
                                                            href="{{ url('habit_change', {id: habit.id}) }}" title="{{ 'action.view'|trans }}">
                                                    </button>

                                                </div>
                                                <!-- Congrats modal window -->
                                                <div class="modal fade" id="exampleModalLong-{{ habit.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                {% set increased = habit.streak +1 %}
                                                                <p>
                                                                    {{ increased }}
                                                                </p>
                                                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                                    Continue
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- habit closure-->
                                        {% endfor %}
                                    {% else%}

                                        <div class="empty-today-habits">
                                            <img src="/images/today_habits.svg" alt="My Image">
                                            <h3>It seems today there is nothing here</h3>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 habits-stats-wrapper d-flex flex-md-column gap-3">

                            <div class="habits-stats habits-percentage">
                                <p class="percentage">
                                    Completion<br>rate:
                                </p>
                                <h3 id="percentage">{{percentage}}%</h3>
                                <div class="progress-wrapper">
                                    <div class="progress">
                                        <div class="progress-bar " style="width:{{ percentage }}%" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="habits-stats habits-number">
                                <p>Your<br>habits:</p>
                                <h3>
                                    {{ number }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-col-second col-lg-4">
                    <div class="all-habits-wrapper">
                        <div class="all-habits" id="all-habits">
                            <h3>Your Habits</h3>
                            <div id="habit-list" class="habit-list">
                                {% if habits is defined and habits|length %}
                                    {% for habit in habits %}

                                        <div class=" habit-all " id="habit-all">
                                            <a href="{{ url('habit_show', {id: habit.id}) }}" title="{{ 'action.view'|trans }}">
                                                <div class ="icon-name-wrapper">
                                                    <div id="icon-{{ habit.id }}" class="habit_image_{{ habit.image }} icon"></div>
                                                    <div id="habit-name-{{ habit.id }}" class="name">
                                                        <span> {{ habit.name }}</span>
                                                        <div class="days">

                                                            <div >
                                                                <i  id="monday" {% if (habit.monday == 1) %}
                                                                    class="fa-solid fa-circle"
                                                                {% else %}
                                                                    class="fa-regular fa-circle"
                                                                {%endif%}
                                                                ></i>
                                                            </div>
                                                            <div>
                                                                <i id="tusday" {% if (habit.tusday == 1) %}
                                                                    class="fa-solid fa-circle"
                                                                {% else %}
                                                                    id="monday" class="fa-regular fa-circle"
                                                                {%endif%}
                                                                ></i>
                                                            </div>
                                                            <div>
                                                                <i  id="wednesday" {% if (habit.wednesday == 1) %}
                                                                    class="fa-solid fa-circle"
                                                                {% else %}
                                                                    class="fa-regular fa-circle"
                                                                {%endif%}
                                                                ></i>

                                                            </div>
                                                            <div>

                                                                <i  id="thursday"   {% if(habit.thursday == 1) %}
                                                                    class="fa-solid fa-circle"
                                                                {% else %}
                                                                    class="fa-regular fa-circle"
                                                                {%endif%}
                                                                ></i>
                                                            </div>

                                                            <div >

                                                                <i id="friday"  {% if (habit.friday == 1 )%}
                                                                    class="fa-solid fa-circle"
                                                                {% else %}
                                                                    class="fa-regular fa-circle"{%endif%}
                                                                ></i>
                                                            </div>
                                                            <div >

                                                                <i id="sathurday"  {% if (habit.sathurday == 1) %}
                                                                    class="fa-solid fa-circle"
                                                                {% else %}
                                                                    class="fa-regular fa-circle"
                                                                {%endif%}
                                                                ></i>
                                                            </div>
                                                            <div>
                                                                <i id="sunday"  {% if (habit.sunday == 1) %}
                                                                    class="fa-solid fa-circle"
                                                                {% else %}
                                                                    class="fa-regular fa-circle"
                                                                {%endif%}
                                                                ></i>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-habit" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownMenuButton-habit">
                                                    <button type="button" class=" dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-delete-habit-{{ habit.id }}">
                                                        <i class="fa-solid fa-trash"></i><p> delete habit</p>
                                                    </button>


                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade modal-delete-habit" id="modal-delete-habit-{{ habit.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">

                                                    <div class="modal-body">
                                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <form id="form-delete-habit" class="form-delete-habit" action="{{ path('habit_delete', {id: habit.id})}}" method="post">
                                                            {{ form_row(deleteForms[habit.id]._token) }}
                                                            <button type="submit">Create</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                {% endif %}

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---------------------- create modal ---------------------->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Habit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form id="form-create" class="create-form" action="{{ path('habit_create')}}" method="post">

                        <label>Habit</label>
                        {{ form_row(create.name) }}

                        {{ form_row(create.time) }}

                        <label>Place</label>
                        {{ form_row(create.place) }}

                        <label>When do you want to perform habit?</label>
                        <div class="labels-days">
                            <label onclick="labelDayActive('habit_monday_label')" for="habit_monday" class="day-label" id="habit_monday_label">
                                Monday
                            </label>
                            <label onclick="labelDayActive('habit_tusday_label')" for="habit_tusday" class="day-label" id="habit_tusday_label">
                                Tuesday
                            </label>
                            <label onclick="labelDayActive('habit_wednesday_label')" for="habit_wednesday" class="day-label" id="habit_wednesday_label">
                                Wednesday
                            </label>
                            <label onclick="labelDayActive('habit_thursday_label')" for="habit_thursday" class="day-label" id="habit_thursday_label">
                                Thursday
                            </label>
                            <label onclick="labelDayActive('habit_friday_label')" for="habit_friday" class="day-label" id="habit_friday_label">
                                Friday
                            </label>
                            <label onclick="labelDayActive('habit_sathurday_label')" for="habit_sathurday" class="day-label" id="habit_sathurday_label">
                                Saturday
                            </label>
                            <label onclick="labelDayActive('habit_sunday_label')" for="habit_sunday" class="day-label" id="habit_sunday_label">
                                Sunday
                            </label>
                        </div>
                        <div style="display: none;">
                            {{ form_row(create.monday) }}
                            {{ form_row(create.tusday) }}
                            {{ form_row(create.wednesday) }}
                            {{ form_row(create.thursday) }}
                            {{ form_row(create.friday) }}
                            {{ form_row(create.sathurday) }}
                            {{ form_row(create.sunday) }}
                        </div>

                        <label>What will do you need?</label>
                        {{ form_row(create.requisites) }}

                        <label>Notes</label>
                        {{ form_row(create.notes) }}

                        {{ form_row(create._token) }}
                        <div style="display: none;">
                            {{ form_row(create.image) }}
                        </div >
                        <label>Choose an icon for your habit</label>
                        <div class="icons-container">
                            {% for child in create.image %}
                                <div class="icon-wrapper">
                                    <label   for="{{ child.vars.id }}" onclick="labelIconActive('{{ child.vars.id }}_label')" class="required radio" id="{{ child.vars.id }}_label">
                                        <div style="font-size: 8px"class="{{ child.vars.id }}" id="icon"></div>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>

                        <button type="submit">Create</button>

                    </form>
                </div>


            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/093c7f6b78.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/main/checkHabit.js') }}"></script>
    <script src="{{ asset('js/main/createHabit.js') }}"></script>
    <script src="{{ asset('js/main/deleteHabit.js') }}"></script>
    <script src="{{ asset('js/main/changePage.js') }}"></script>
    <script src="{{ asset('js/form.js') }}"></script>
    <script src="{{ asset('js/main/profileImage.js') }}"></script>
    <script>
        window.onpageshow = function(event) {
            if (event.persisted) {
                window.location.reload();
            }
        };
    </script>

{% endblock %}

