{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/main/habits-index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main/week.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main/home-skeleton.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main/skeleton-week.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main/image-modal.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
{% endblock %}

{% block body %}

<div class="row main-row">
    <div class=" col-first col-lg-1 col-md-1 col-sm-1 order-2 order-sm-1 d-sm-block d-none">
        <div class="side-menu-wrapper d-flex flex-column">
            <div class="logo ">
                <img src="{{ asset('images/logo.png') }}" alt="Image">
            </div>
            <div class="menu">
                <button id="home" class="menu-option-wrapper" onclick="changePage('home')">
                    <i class="fa-solid fa-house"></i>
                </button>
                <button id="week" class="menu-option-wrapper" onclick="changePage('week')">
                    <i class="fa-solid fa-calendar"></i>
                </button>
                <button id="user-details" class="menu-option-wrapper d-sm-none" onclick="changePage('user')">
                    <i class="fa-solid fa-user"></i>
                </button>
            </div>
            <div class="logout">
                <a class=" " href="{{ url('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>

    </div>
    <div class=" col-second col-lg-11  col-md-11 col-sm-11 order-1 order-sm-2 ">
        <div id="row-nav" class="row row-nav d-flex justify-content-end">
            <nav id="nav-bar" class=" navbar navbar-expand-sm col-md-8">

                    <a href="{{ url('app_main') }}" class="logo-nav navbar-brand d-sm-none d-block ">
                        <img src="{{ asset('images/logo.png') }}" alt="Image">
                    </a>
                    <!--nav toogler-->
                    <button class="navbar-toggler" id="navbar-toggler" onclick="changeToggler()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"> <i class="fa-solid fa-bars"></i></span>
                    </button>

                    <!-- nav-bar -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul id="my-ul" class="ms-auto navbar-nav">

                            <li class="nav-item">
                                <a   class="nav-link" id="about" href="{{ url('app_about' )}}">About us</a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link" id="how" href="">Blog</a>
                            </li>
                            <li class="nav-item d-sm-none d-block">
                                <button id="home" class="nav-link nav-button" onclick="changePage('home')">
                                    Home Page
                                </button>
                            </li>
                            <li class="nav-item d-sm-none d-block ">
                            <button id="week" class="nav-link nav-button" onclick="changePage('week')">
                                Week
                            </button>
                            </li>
                            <li class="nav-item d-sm-none d-block ">
                                <a class="nav-link" id="logout" href="{{ url('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </li>
                            <li class="nav-item  d-none d-sm-block ">
                                <div class=" nav-col-2">
                                    <div class="user-pic">
                                        <img id="user-pic-image" src="{{ asset('uploads/profile_images/'~user.image) }}">
                                    </div>
                                    <div class="username">
                                        <p class="p1">{{ user.username }}</p>
                                        <p class="p2">User</p>
                                    </div>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownMenuButton">
                                            <button type="button" class=" image-button dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-image">
                                                <i class="fa-solid fa-pen-to-square"></i><p> edit profile picture</p>
                                            </button>
                                            <div class="dropdown-divider"></div>
                                            <button type="button" {% if user.image == 'user_default.png' %}class="disabled image-button dropdown-item" {% else%} class="image-button dropdown-item" {% endif %}data-bs-toggle="modal" data-bs-target="#modal-delete">
                                                <i class="fa-solid fa-trash"></i><p> delete profile picture</p>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="modal-image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">

                                                <div class="modal-body modal-image-body">
                                                    <div class="form-header d-flex justify-content-between">
                                                        <h2>Profile</h2>
                                                        <button type="button" class="close button-close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    <form id="image-form"  action="{{ path('test')}}" class="image-form" enctype="multipart/form-data" method="post">
                                                        <div class="preview-wrapper">
                                                                 <img id="preview" class="preview" src="{{ asset('uploads/profile_images/'~user.image) }}">

                                                        </div>
                                                        <div class="user-details">
                                                            <h5>{{ user.username }}</h5>
                                                            <p>{{ user.email }}</p>
                                                        </div>
                                                        <div class="upload-wrapper">

                                                            <div class="d-none"> <input type="file" id="profile_picture_form_image" name="profile_picture_form[image]"  accept="image/*" required></div>
                                                            <div id="dropArea" class="">
                                                                <div id="dropArea-message">Select image from the device<br> or drop it here</div>
                                                                <label class="upload-button" for="profile_picture_form_image"><span>Upload</span><i class="fa-solid fa-cloud-arrow-up"></i></label>
                                                            </div>
                                                        </div>


                                                        {{ form_row(imageForm._token) }}
                                                        <button class="button-save" type="submit">save</button>

                                                    </form>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body d-flex flex-column gap-1">
                                                    <div class="form-header d-flex justify-content-between">
                                                        <h2>Delete</h2>
                                                        <button type="button" class="close button-close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    Are you sure you want to delete profile picture?
                                                    <button type="button" id="delete-image" class="button-save">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </li>

                        </ul>
                    </div>
            </nav>
        </div>
        <div class="row row-content">
            <div class="content-col-first col-lg-8" id="page-container">
                <div id="skeleton-home">
                    <div class="row banner-row">
                        <div class="banner-skeleton">
                            <div class="banner-text">
                                <div class="skeleton-h5 skeleton-loading"></div>
                                <div class="skeleton-p1 skeleton-loading"></div>
                                <div class="skeleton-loading skeleton-button"></div>
                            </div>

                        </div>
                    </div>

                    <div class="row habits-row">

                            <div class="col-md-7 habits-today-wrapper">
                                    <div class="today-habits">
                                        <div class="skeleton-h3 skeleton-loading"></div>
                                        <div id="today-habits" class="habits">
                                            <div class="skeleton-loading skeleton-habit"></div>
                                            <div class="skeleton-loading skeleton-habit"></div>
                                            <div class="skeleton-loading skeleton-habit"></div>
                                        </div>

                                    </div>
                            </div>
                            <div class="col-md-5 habits-stats-wrapper d-flex flex-md-column gap-3">
                                <div class="habits-stats habits-percentage-sk">
                                    <div class="skeleton-stat-h skeleton-loading"></div>
                                    <div class="skeleton-stat-h skeleton-loading"></div>
                                    <div class="number-p"><div class="skeleton-loading"></div></div>
                                    <div class="skeleton-stat-h skeleton-loading"></div>
                                </div>
                                <div class="habits-stats habits-number">
                                    <div class="skeleton-stat-h skeleton-loading"></div>
                                    <div class="skeleton-stat-h skeleton-loading"></div>
                                    <div class="number-n"><div class="skeleton-loading"></div></div>
                                </div>
                            </div>
                        </div>
               </div>
                <div id="skeleton-week">
                    <div class="week-wrapper">
                        <h3 class=" skeleton-loading skeleton-h5-week"></h3>
                        <div class="week d-flex">
                            <div class="day">
                                <div class="day-sk-name skeleton-loading"></div>
                                <hr class="hr-name">
                                <div class="habit-time">
                                        <div class="time-sk skeleton-loading"></div>
                                        <div class="habit-week skeleton-loading"></div>
                                </div>
                                <div class="habit-notime">
                                    <div class="habit-week skeleton-loading"></div>
                                </div>
                            </div>
                            <div class="day">
                                <div class="day-sk-name skeleton-loading"></div>
                                <hr class="hr-name">
                                <div class="habit-time">
                                    <div class="time-sk skeleton-loading"></div>
                                    <div class="habit-week skeleton-loading"></div>
                                </div>
                                <div class="habit-no-time">
                                    <div class="habit-week skeleton-loading"></div>
                                </div>
                            </div>
                            <div class="day">
                                <div class="day-sk-name skeleton-loading"></div>
                                <hr class="hr-name">
                                <div class="habit-time">
                                    <div class="time-sk skeleton-loading"></div>
                                    <div class="habit-week skeleton-loading"></div>
                                </div>
                                <div class="habit-no-time">
                                    <div class="habit-week skeleton-loading"></div>
                                </div>
                            </div>
                            <div class="day">
                                <div class="day-sk-name skeleton-loading"></div>
                                <hr class="hr-name">
                                <div class="habit-time">
                                    <div class="time-sk skeleton-loading"></div>
                                    <div class="habit-week skeleton-loading"></div>
                                </div>
                                <div class="habit-no-time">
                                    <div class="habit-week skeleton-loading"></div>
                                </div>
                            </div>
                            <div class="day">
                                <div class="day-sk-name skeleton-loading"></div>
                                <hr class="hr-name">
                                <div class="habit-time">
                                    <div class="time-sk skeleton-loading"></div>
                                    <div class="habit-week skeleton-loading"></div>
                                </div>
                                <div class="habit-no-time">
                                    <div class="habit-week skeleton-loading"></div>
                                </div>
                            </div>
                            <div class="day">
                                <div class="day-sk-name skeleton-loading"></div>
                                <hr class="hr-name">
                                <div class="habit-time">
                                    <div class="time-sk skeleton-loading"></div>
                                    <div class="habit-week skeleton-loading"></div>
                                </div>
                                <div class="habit-no-time">
                                    <div class="habit-week skeleton-loading"></div>
                                </div>
                            </div>
                            <div class="day">
                                <div class="day-sk-name skeleton-loading"></div>
                                <hr class="hr-name">
                                <div class="habit-time">
                                    <div class="time-sk skeleton-loading"></div>
                                    <div class="habit-week skeleton-loading"></div>
                                </div>
                                <div class="habit-no-time">
                                    <div class="habit-week skeleton-loading"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                </div>
            <div class="content-col-second col-lg-4">
                <div class="all-habits-wrapper">
                    <div class="all-habits" id="all-habits">
                        <h3>Your Habits</h3>
                        <div id="habit-list" class="habit-list">
                            {% if habits is defined and habits|length %}
                                {% for habit in habits %}

                                    <div class=" habit-all " id="habit-all">
                                        <a href="{{ url('habit_show', {id: habit.id}) }}" title="{{ 'action.view'|trans }}">
                                            <div class ="icon-name-wrapper">
                                                <div id="icon-{{ habit.id }}" class="habit_image_{{ habit.image }} icon"></div>
                                                <div id="habit-name-{{ habit.id }}" class="name">
                                                    <span> {{ habit.name }}</span>
                                                    <div class="days">

                                                        <div >
                                                            <i  id="monday" {% if (habit.monday == 1) %}
                                                                class="fa-solid fa-circle"
                                                            {% else %}
                                                                class="fa-regular fa-circle"
                                                            {%endif%}
                                                            ></i>
                                                        </div>
                                                        <div>
                                                            <i id="tusday" {% if (habit.tusday == 1) %}
                                                                class="fa-solid fa-circle"
                                                            {% else %}
                                                                id="monday" class="fa-regular fa-circle"
                                                            {%endif%}
                                                            ></i>
                                                        </div>
                                                        <div>
                                                            <i  id="wednesday" {% if (habit.wednesday == 1) %}
                                                                class="fa-solid fa-circle"
                                                            {% else %}
                                                                class="fa-regular fa-circle"
                                                            {%endif%}
                                                            ></i>

                                                        </div>
                                                        <div>

                                                            <i  id="thursday"   {% if(habit.thursday == 1) %}
                                                                class="fa-solid fa-circle"
                                                            {% else %}
                                                                class="fa-regular fa-circle"
                                                            {%endif%}
                                                            ></i>
                                                        </div>

                                                        <div >

                                                            <i id="friday"  {% if (habit.friday == 1 )%}
                                                                class="fa-solid fa-circle"
                                                            {% else %}
                                                                class="fa-regular fa-circle"{%endif%}
                                                            ></i>
                                                        </div>
                                                        <div >

                                                            <i id="sathurday"  {% if (habit.sathurday == 1) %}
                                                                class="fa-solid fa-circle"
                                                            {% else %}
                                                                class="fa-regular fa-circle"
                                                            {%endif%}
                                                            ></i>
                                                        </div>
                                                        <div>
                                                            <i id="sunday"  {% if (habit.sunday == 1) %}
                                                                class="fa-solid fa-circle"
                                                            {% else %}
                                                                class="fa-regular fa-circle"
                                                            {%endif%}
                                                            ></i>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-habit" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownMenuButton-habit">
                                                <button type="button" class=" dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-delete-habit-{{ habit.id }}">
                                                    <i class="fa-solid fa-trash"></i><p> delete habit</p>
                                                </button>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade modal-delete-habit" id="modal-delete-habit-{{ habit.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">

                                                <div class="modal-body">
                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <form id="form-delete-habit" class="form-delete-habit" action="{{ path('habit_delete', {id: habit.id})}}" method="post">
                                                        {{ form_row(deleteForms[habit.id]._token) }}
                                                        <button type="submit">Create</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                            {% endif %}

                        </div>

                    </div>
              </div>
            </div>
          </div>
    </div>
</div>
    <!---------------------- create modal ---------------------->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Habit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form id="form-create" class="create-form" action="{{ path('habit_create')}}" method="post">

                        <label>Habit</label>
                        {{ form_row(create.name) }}

                        {{ form_row(create.time) }}

                        <label>Place</label>
                        {{ form_row(create.place) }}

                        <label>When do you want to perform habit?</label>
                        <div class="labels-days">
                            <label onclick="labelDayActive('habit_monday_label')" for="habit_monday" class="day-label" id="habit_monday_label">
                               Monday
                            </label>
                            <label onclick="labelDayActive('habit_tusday_label')" for="habit_tusday" class="day-label" id="habit_tusday_label">
                                Tuesday
                            </label>
                            <label onclick="labelDayActive('habit_wednesday_label')" for="habit_wednesday" class="day-label" id="habit_wednesday_label">
                                Wednesday
                            </label>
                            <label onclick="labelDayActive('habit_thursday_label')" for="habit_thursday" class="day-label" id="habit_thursday_label">
                                Thursday
                            </label>
                            <label onclick="labelDayActive('habit_friday_label')" for="habit_friday" class="day-label" id="habit_friday_label">
                                Friday
                            </label>
                            <label onclick="labelDayActive('habit_sathurday_label')" for="habit_sathurday" class="day-label" id="habit_sathurday_label">
                                Saturday
                            </label>
                            <label onclick="labelDayActive('habit_sunday_label')" for="habit_sunday" class="day-label" id="habit_sunday_label">
                                Sunday
                            </label>
                        </div>
                        <div style="display: none;">
                            {{ form_row(create.monday) }}
                            {{ form_row(create.tusday) }}
                            {{ form_row(create.wednesday) }}
                            {{ form_row(create.thursday) }}
                            {{ form_row(create.friday) }}
                            {{ form_row(create.sathurday) }}
                            {{ form_row(create.sunday) }}
                        </div>

                        <label>What will do you need?</label>
                        {{ form_row(create.requisites) }}

                        <label>Notes</label>
                        {{ form_row(create.notes) }}

                        {{ form_row(create._token) }}
                        <div style="display: none;">
                            {{ form_row(create.image) }}
                        </div >
                        <label>Choose an icon for your habit</label>
                        <div class="icons-container">
                            {% for child in create.image %}
                                <div class="icon-wrapper">
                                    <label   for="{{ child.vars.id }}" onclick="labelIconActive('{{ child.vars.id }}_label')" class="required radio" id="{{ child.vars.id }}_label">
                                        <div style="font-size: 8px"class="{{ child.vars.id }}" id="icon"></div>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>

                        <button type="submit">Create</button>

                    </form>
                </div>


            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/093c7f6b78.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/main/checkHabit.js') }}"></script>
    <script src="{{ asset('js/main/createHabit.js') }}"></script>
    <script src="{{ asset('js/main/deleteHabit.js') }}"></script>
    <script src="{{ asset('js/main/changePage.js') }}"></script>
    <script src="{{ asset('js/main/nav.js') }}"></script>
    <script src="{{ asset('js/form.js') }}"></script>
    <script src="{{ asset('js/main/profileImage.js') }}"></script>
    <script>
        window.onpageshow = function(event) {
            if (event.persisted) {
                $.ajax({
                    url: '/reload',
                    method: 'POST',
                    dataType: 'json',
                    success: function (response) {

                        $('#habit-list').html(response.all);
                        $('#today-habits').html(response.today);
                    },
                });

            }
        };
    </script>


{% endblock %}


