{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ asset('css/main/habits-index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/habit-show.css') }}">
{% endblock %}

{% block body %}
    <div class="row main-row">
        <div id="row-nav" class="row row-nav d-flex justify-content-end">
            <nav id="nav-bar" class=" navbar navbar-expand-sm">
                <a href="{{ url('app_main') }}" class="logo-nav navbar-brand">
                    <img src="{{ asset('images/logo.png') }}" alt="Image">
                </a>

                <!--nav toogler-->
                <button class="navbar-toggler" id="navbar-toggler" onclick="changeToggler()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"> <i class="fa-solid fa-bars"></i></span>
                </button>

                <!-- nav-bar -->
                <div class=" collapse navbar-collapse " id="navbarSupportedContent">
                    <ul id="my-ul" class="ms-auto navbar-nav">

                        <li class="nav-item">
                            <a   class="nav-link" id="about" href="{{ url('app_about' )}}">About us</a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link" id="how" href="{{ url('app_blog' )}}">Blog</a>
                        </li>
                            <div class=" nav-col-2">
                                <div class="user-pic">
                                    <img id="user-pic-image" src="{{ asset('uploads/profile_images/'~app.user.image) }}">
                                </div>
                                <div class="username">
                                    <p class="p1">
                                        <a  class="nav-link"  href="{{ url('app_main') }}">{{ app.user.username }}</a>
                                    </p>
                                    <p class="p2">User</p>
                                </div>
                            </div>
                    </ul>
                </div>
            </nav>
        </div>
            <div class="row row-content">
                 <div class="box">
            <div class="title-wrapper d-flex justify-content-between">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row">
                        <div id="habit-icon-{{ habit.id }}" class="icon-{{ habit.image }} icon" ></div>
                        <div id="habit-name-{{ habit.id }}" class="name" >
                            <h1 id="habitId" habitId ="{{ habit.id }}">{{ habit.name }}</h1>
                        </div>
                    </div>
                    <div class="days">

                        <div > <p>M</p>
                            <i  id="monday" {% if (habit.monday == 1) %}
                                class="fa-solid fa-circle"
                            {% else %}
                                class="fa-regular fa-circle"
                            {%endif%}
                            ></i>
                        </div>
                        <div> <p>T</p>
                            <i id="tusday" {% if (habit.tusday == 1) %}
                                class="fa-solid fa-circle"
                            {% else %}
                                id="monday" class="fa-regular fa-circle"
                            {%endif%}
                            ></i>
                        </div>
                        <div> <p>W</p>
                            <i  id="wednesday" {% if (habit.wednesday == 1) %}
                                class="fa-solid fa-circle"
                            {% else %}
                                class="fa-regular fa-circle"
                            {%endif%}
                            ></i>

                        </div>
                        <div > <p>T</p>

                            <i  id="thursday"   {% if(habit.thursday == 1) %}
                                class="fa-solid fa-circle"
                            {% else %}
                                class="fa-regular fa-circle"
                            {%endif%}
                            ></i>
                        </div>

                        <div > <p>F</p>

                            <i id="friday"  {% if (habit.friday == 1 )%}
                                class="fa-solid fa-circle"
                            {% else %}
                                class="fa-regular fa-circle"
                            {%endif%}
                            ></i>
                        </div>
                        <div > <p>S</p>

                            <i id="sathurday"  {% if (habit.sathurday == 1) %}
                                class="fa-solid fa-circle"
                            {% else %}
                                class="fa-regular fa-circle"
                            {%endif%}
                            ></i>
                        </div>
                        <div><p>S</p>
                            <i id="sunday"  {% if (habit.sunday == 1) %}
                                class="fa-solid fa-circle"
                            {% else %}
                                class="fa-regular fa-circle"
                            {%endif%}
                            ></i>
                        </div>
                    </div>

                </div>
                <div>
                    <button id="edit-habit" type="button" class="btn btn-primary edit-button" data-bs-toggle="modal" data-bs-target="#editModal{{ habit.id }}"><i class="fa-solid fa-pen-to-square"></i></button>
                </div>
            </div>
            <!--################################# all habits ############################-->
            <div class="row">
                <div class="col-6 container-one">

                        <div>time:{{ habit.time }}</div>
                        <div>place:{{ habit.place }}</div>
                        <div>requisites:{{ habit.requisites }}</div>
                        <div>notes:{{ habit.notes }}</div>

                    <div class="stats">
                        <div class="total">wykonania:{{ executions }}</div>

                        <div class="chart">
                            <svg viewBox="0 0 36 36" class="circular-chart">
                                <path class="circle-bg"
                                      d="M18 2.0845
                                                                             a 15.9155 15.9155 0 0 1 0 31.831
                                                                             a 15.9155 15.9155 0 0 1 0 -31.831"
                                />
                                <path  id="path" class="circle"
                                       stroke-dasharray="{{ percentage }}, 100"
                                       d="M18 2.0845
                                                                               a 15.9155 15.9155 0 0 1 0 31.831
                                                                               a 15.9155 15.9155 0 0 1 0 -31.831"
                                />
                                <text x="18" y="20.35" id="text" class="percentage">{{ percentage }}%</text>
                            </svg>
                        </div>

                        <div class="current-streak">streak:{{ habit.streak }}</div>
                        <div class="best-streak"> best streak:{{ habit.bestStreak }}</div>
                    </div>
                </div>


                    <div class="col-6 container-two">

                            <div class="calendar-wrapper">
                                <div class="title">
                                    <p class="current-date"> </p>
                                    <div class="icons d-flex">
                                        <button class="material-symbols-rounded" id="previous" onclick="renderPreviousMonth()"><i class="fa-solid fa-chevron-left"></i></button>
                                        <button class="material-symbols-rounded" id="next" onclick="renderNextMonth()"><i class="fa-solid fa-chevron-right"></i></button>
                                    </div>

                                </div>
                                <div class="calendar">
                                    <ul class="weeks">
                                        <li><b>Mon</b></li>
                                        <li><b>Tue</b></li>
                                        <li><b>Wed</b></li>
                                        <li><b>Thu</b></li>
                                        <li><b>Fri</b></li>
                                        <li><b>Sat</b></li>
                                        <li><b>Sun</b></li>
                                    </ul>
                                    <ul class="days-calendar" id="days-calendar">

                                    </ul>
                                    <div class="reset-wrapper">
                                        <button class="reset" onclick="renderCurrentMonth()">today</button>
                                    </div>
                                </div>
                            </div>


                         </div>

                 </div>
<!-- modal -->
        <div class="modal fade" id="editModal{{ habit.id }}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel{{ habit.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel{{ habit.id }}">Edit Entity</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="editForm{{ habit.id }}" class="edit-form" action="{{ path('habit_edit', {id: habit.id}) }}" method="post">

                            {{ form_row(form.name) }}
                            {{ form_row(form.time) }}
                            {{ form_row(form.place) }}
                            {{ form_row(form.monday) }}
                            {{ form_row(form.tusday) }}
                            {{ form_row(form.wednesday) }}
                            {{ form_row(form.thursday) }}
                            {{ form_row(form.friday) }}
                            {{ form_row(form.sathurday) }}
                            {{ form_row(form.sunday) }}
                            {{ form_row(form.requisites) }}
                            {{ form_row(form.notes) }}
                            {{ form_widget(form._token) }}
                            <div class="icons-container">
                                {% for child in form.image %}
                                    {% set child_id =  child.vars.value ~'-' ~ habit.id %}
                                    <div>
                                        {{ form_widget(child, { 'id': child_id, 'attr': {'style': 'opacity: 0; position: absolute; top: 0; left: 0;'} }) }}
                                        <label for="{{ child_id }}" style="position: relative;">
                                            <div class="{{ child.vars.id }} icon">

                                            </div>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <button  type="submit"  id="submitAndCloseBtn"> test</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
            </div>
    </div>
{% endblock  %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/093c7f6b78.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/main/changePage.js') }}"></script>
    <script src="{{ asset('js/main/nav.js') }}"></script>

    {{ parent() }}
    <script>


        $('.edit-form').submit(function(e) {
            e.preventDefault();
            var formData = $(this).serialize();
            var formAction = $(this).attr('action');
            $.ajax({
                url: formAction,
                method: 'POST',
                data: formData,
                dataType: 'json',
                success: function(response) {

                    $('#habit-name-' + response.id).text(response.name);
                    $('#name-' + response.id).text(response.name);
                    $('#habit-icon-' + response.id).removeClass();
                    $('#habit-icon-' + response.id).addClass('icon-'+ response.icon);
                    $('#habit-icon-' + response.id).addClass('icon');

                    $('#text').text(response.percentage +"%");

                    $('i').removeClass();
                    $('i').addClass('fa-circle');
                    console.log(response.monday)
                         if (response.monday == true){
                             $('#monday').addClass('fa-solid');
                         }
                         else{
                             $('#monday').addClass('fa-regular');
                         }
                        if (response.tusday == true){
                            $('#tusday').addClass('fa-solid');
                        }
                        else{
                            $('#tusday').addClass('fa-regular');
                        }
                        if (response.wednesday == true){
                            $('#wednesday').addClass('fa-solid');
                        }
                        else{
                            $('#wednesday').addClass('fa-regular');
                        }
                        if (response.thursday == true){
                            $('#thursday').addClass('fa-solid');
                        }
                        else{
                            $('#thursday').addClass('fa-regular');
                        }
                        if (response.friday == true){
                            $('#friday').addClass('fa-solid');
                        }
                        else{
                            $('#friday').addClass('fa-regular');
                        }
                    if (response.sathurday == true){
                        $('#sathurday').addClass('fa-solid');
                    }
                    else{
                        $('#sathurday').addClass('fa-regular');
                    }
                    if (response.sunday == true){
                        $('#sunday').addClass('fa-solid');
                    }
                    else{
                        $('#sunday').addClass('fa-regular');
                    }



                    var path = document.querySelector('#path');
                    path.style.transition = path.style.WebkitTransition =
                        'none';

                    var newPathData = response.percentage;
                    $('#path').attr('stroke-dasharray', newPathData);

                    // Animate the change in the path's stroke-dasharray attribute
                    var path = document.querySelector('#path');
                    var pathLength = path.getTotalLength();
                    path.style.transition = path.style.WebkitTransition =
                        'none';
                    path.style.strokeDasharray = newPathData + ' ' ;
                    path.style.strokeDashoffset = 100;
                    path.getBoundingClientRect();
                    path.style.transition = path.style.WebkitTransition =
                        'stroke-dashoffset 2s ease-in-out';
                    path.style.strokeDashoffset = '0';



                },
            });
        });

    </script>
    <script>
        $(document).ready(function() {
            $('#submitAndCloseBtn').click(function() {
                // Perform any submit actions here, such as form validation, AJAX requests, etc.
                    console.log('i work')
                // Close the Bootstrap modal
                $('.modal').modal('hide');
            });
        });
    </script>
    <script>

        class calendar {
            constructor(month, year) {
                this.currentMonth = month;
                this.currentYear = year;
                this.firstDay = new Date(year, month, 1);
                this.lastDay = new Date(year, month + 1, 0);
                this.daysInMonth = this.lastDay.getDate();
                this.Today = new Date().getDate();
                this.months = {
                    0: "styczeń",
                    1: "luty",
                    2: "marzec",
                    3: "kwiecień",
                    4: "maj",
                    5: "czerwiec",
                    6: "lipiec",
                    7: "sierpień",
                    8: "wrzesień",
                    9: "październik",
                    10: "listopad",
                    11: "grudzień"
                };
                this.weekDays = {
                    0: 6,
                    1: 0,
                    2: 1,
                    3: 2,
                    4: 3,
                    5: 4,
                    6: 5
                }
                this.currentDate = document.querySelector(".current-date");
                this.calendarDays = document.getElementById("days-calendar");
            };

            changeDate() {
                this.currentDate.innerHTML = '<div month=' + this.currentMonth + ' year=' + this.currentYear + ' class="date" >' + this.months[this.currentMonth] + " " + this.currentYear + '</div>';
            }

            renderDays() {
                let monthDays = "";
                let lastDayPreMonth = new Date(this.currentYear, this.currentMonth, 0);
                let weekDay = this.firstDay.getDay();


                for (let i = (lastDayPreMonth.getDate() - this.weekDays[weekDay]); i < lastDayPreMonth.getDate(); i++) {
                    monthDays += '<li></li>';

                }
                let dates = '';
                let searchDateId = $('#habitId').attr("habitId")
                let searchDateMonth = parseInt($('.date').attr('month')) + 1
                $.ajax({
                    url: '/dates/' + searchDateId + '/' + searchDateMonth,
                    method: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (response) {
                        console.log(response.dates)
                        dates = response.dates;
                    },
                });

                let j ='';
                for (let i = 1; i <= this.daysInMonth; i++) {
                    for(let x in dates){
                        if(dates[x] == i){
                            j = true;
                        }
                    }

                    if (this.currentMonth === new Date().getMonth() && this.Today === i) {
                        monthDays += `<li class="today">${i}</li>`;

                    } else {
                        if(j == true){
                            monthDays += '<li class="done">' + (i) + '</li>';
                        }
                        else{
                            monthDays += '<li>' + (i) + '</li>';
                        }
                    }
                    j=false;
                }

                console.log('dates=' + dates)
                console.log('month=' + monthDays)
                this.calendarDays.innerHTML = monthDays;
            }
        }


        let calendarOne = new calendar(new Date().getMonth(), new Date().getFullYear());
        calendarOne.changeDate();
        calendarOne.renderDays();

         function renderPreviousMonth(){
             let monthPrev = '';
             let yearPrev = '';

             if($('.date').attr('month') == 0){
                 monthPrev = 11;
                 yearPrev = parseInt($('.date').attr('year'))-1;
             }
             else{
                  monthPrev = parseInt($('.date').attr('month'))-1;
                  yearPrev = $('.date').attr('year');

             }
             let calendarTwo = new calendar(monthPrev, yearPrev);
             calendarTwo.changeDate();
             calendarTwo.renderDays();
             console.log(calendarTwo.firstDay.getDay())

         }
        function renderNextMonth(){
            let monthNext = '';
            let yearNext = '';

            if($('.date').attr('month') == 11){
                monthNext = 0;
                yearNext = parseInt($('.date').attr('year'))+1;
            }
            else{
                monthNext = parseInt($('.date').attr('month'))+1;
                yearNext = $('.date').attr('year');

            }

            let calendarTwo = new calendar(monthNext, yearNext);
            calendarTwo.changeDate();
            calendarTwo.renderDays();


        }

        function renderCurrentMonth(){
            let calendarThree = new calendar(new Date().getMonth(), new Date().getFullYear())
            calendarThree.changeDate();
            calendarThree.renderDays();
        }





    </script>



{% endblock %}


