{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/habits-index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/habits-today.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}

<div class="row">
    <!--################################# habits that should be completed today############################ -->
    <!-- nav bar -->
    <div class="col">
    <ul class='nav-bar' id="nav-bar">
        <li class='logo'>
            <a href="#" class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" zoomAndPan="magnify" viewBox="0 0 150 52.499999" height="70" preserveAspectRatio="xMidYMid meet" version="1.0"><defs><g/><clipPath id="c78412a679"><path d="M 2.789062 5.199219 L 39.191406 5.199219 L 39.191406 41.605469 L 2.789062 41.605469 Z M 2.789062 5.199219 " clip-rule="nonzero"/></clipPath></defs><g clip-path="url(#c78412a679)"><path fill="#f96300" d="M 34.664062 19.671875 L 25.898438 21.367188 L 33.296875 16.378906 C 33.53125 16.222656 33.742188 16.042969 33.933594 15.835938 C 34.128906 15.632812 34.292969 15.410156 34.4375 15.171875 C 34.582031 14.929688 34.695312 14.675781 34.785156 14.410156 C 34.871094 14.144531 34.925781 13.871094 34.953125 13.589844 C 34.980469 13.3125 34.976562 13.035156 34.941406 12.757812 C 34.90625 12.476562 34.84375 12.207031 34.75 11.941406 C 34.652344 11.679688 34.53125 11.429688 34.382812 11.191406 C 34.230469 10.957031 34.058594 10.738281 33.859375 10.539062 C 33.660156 10.339844 33.445312 10.167969 33.207031 10.015625 C 32.96875 9.867188 32.71875 9.746094 32.457031 9.648438 C 32.191406 9.554688 31.921875 9.488281 31.644531 9.453125 C 31.363281 9.417969 31.085938 9.414062 30.808594 9.441406 C 30.527344 9.46875 30.253906 9.527344 29.988281 9.613281 C 29.722656 9.699219 29.46875 9.816406 29.226562 9.957031 C 28.984375 10.101562 28.761719 10.269531 28.558594 10.460938 C 28.355469 10.652344 28.175781 10.867188 28.019531 11.097656 L 23.027344 18.5 L 24.726562 9.734375 C 24.78125 9.457031 24.804688 9.179688 24.796875 8.902344 C 24.789062 8.621094 24.75 8.34375 24.683594 8.074219 C 24.613281 7.800781 24.515625 7.539062 24.390625 7.289062 C 24.265625 7.039062 24.113281 6.804688 23.933594 6.589844 C 23.753906 6.371094 23.554688 6.175781 23.335938 6.003906 C 23.113281 5.832031 22.875 5.6875 22.625 5.566406 C 22.371094 5.445312 22.105469 5.355469 21.832031 5.292969 C 21.558594 5.230469 21.28125 5.199219 21.003906 5.199219 C 20.722656 5.199219 20.445312 5.230469 20.167969 5.289062 C 19.894531 5.351562 19.632812 5.441406 19.378906 5.558594 C 19.125 5.679688 18.886719 5.824219 18.664062 5.996094 C 18.441406 6.167969 18.242188 6.363281 18.0625 6.578125 C 17.882812 6.796875 17.730469 7.03125 17.601562 7.28125 C 17.476562 7.53125 17.378906 7.792969 17.308594 8.0625 C 17.238281 8.335938 17.199219 8.613281 17.191406 8.890625 C 17.183594 9.171875 17.207031 9.449219 17.257812 9.726562 L 18.957031 18.496094 L 13.964844 11.089844 C 13.808594 10.859375 13.628906 10.648438 13.425781 10.453125 C 13.222656 10.261719 13 10.09375 12.757812 9.949219 C 12.515625 9.808594 12.261719 9.691406 11.996094 9.605469 C 11.730469 9.519531 11.457031 9.460938 11.179688 9.433594 C 10.898438 9.40625 10.621094 9.414062 10.34375 9.445312 C 10.066406 9.480469 9.792969 9.546875 9.53125 9.640625 C 9.265625 9.738281 9.015625 9.859375 8.78125 10.007812 C 8.542969 10.160156 8.324219 10.335938 8.128906 10.53125 C 7.929688 10.730469 7.753906 10.949219 7.605469 11.183594 C 7.453125 11.421875 7.332031 11.671875 7.238281 11.933594 C 7.140625 12.199219 7.078125 12.46875 7.042969 12.746094 C 7.007812 13.027344 7.003906 13.304688 7.03125 13.582031 C 7.054688 13.863281 7.113281 14.136719 7.199219 14.402344 C 7.289062 14.667969 7.402344 14.921875 7.546875 15.164062 C 7.6875 15.402344 7.855469 15.625 8.050781 15.828125 C 8.242188 16.035156 8.453125 16.214844 8.6875 16.371094 L 16.089844 21.359375 L 7.3125 19.671875 C 7.039062 19.617188 6.761719 19.597656 6.480469 19.605469 C 6.199219 19.613281 5.921875 19.652344 5.652344 19.71875 C 5.378906 19.789062 5.117188 19.886719 4.867188 20.015625 C 4.617188 20.144531 4.382812 20.296875 4.167969 20.472656 C 3.949219 20.652344 3.757812 20.855469 3.585938 21.074219 C 3.414062 21.296875 3.265625 21.535156 3.148438 21.789062 C 3.027344 22.042969 2.9375 22.308594 2.878906 22.582031 C 2.816406 22.855469 2.789062 23.132812 2.789062 23.414062 C 2.789062 23.695312 2.816406 23.972656 2.878906 24.246094 C 2.9375 24.519531 3.027344 24.785156 3.148438 25.039062 C 3.265625 25.292969 3.414062 25.53125 3.585938 25.753906 C 3.757812 25.976562 3.949219 26.175781 4.167969 26.355469 C 4.382812 26.535156 4.617188 26.6875 4.867188 26.8125 C 5.117188 26.941406 5.378906 27.039062 5.652344 27.109375 C 5.921875 27.179688 6.199219 27.21875 6.480469 27.226562 C 6.761719 27.234375 7.039062 27.210938 7.3125 27.15625 L 16.082031 25.4375 L 8.679688 30.425781 C 8.445312 30.582031 8.234375 30.761719 8.042969 30.96875 C 7.847656 31.171875 7.679688 31.394531 7.539062 31.632812 C 7.394531 31.875 7.28125 32.128906 7.191406 32.394531 C 7.105469 32.664062 7.050781 32.933594 7.023438 33.214844 C 6.996094 33.492188 7 33.773438 7.035156 34.050781 C 7.070312 34.328125 7.132812 34.601562 7.230469 34.863281 C 7.324219 35.128906 7.445312 35.378906 7.597656 35.613281 C 7.746094 35.851562 7.921875 36.070312 8.121094 36.265625 C 8.316406 36.464844 8.535156 36.640625 8.773438 36.789062 C 9.007812 36.9375 9.257812 37.0625 9.523438 37.15625 C 9.785156 37.25 10.058594 37.316406 10.335938 37.351562 C 10.613281 37.382812 10.894531 37.390625 11.171875 37.363281 C 11.449219 37.335938 11.722656 37.277344 11.988281 37.191406 C 12.257812 37.105469 12.507812 36.988281 12.75 36.84375 C 12.992188 36.703125 13.214844 36.535156 13.417969 36.34375 C 13.621094 36.148438 13.800781 35.9375 13.957031 35.707031 L 18.949219 28.304688 L 17.257812 37.074219 C 17.207031 37.351562 17.183594 37.628906 17.191406 37.910156 C 17.199219 38.191406 17.238281 38.46875 17.308594 38.738281 C 17.375 39.011719 17.472656 39.273438 17.601562 39.523438 C 17.730469 39.773438 17.882812 40.007812 18.0625 40.222656 C 18.238281 40.4375 18.441406 40.632812 18.664062 40.804688 C 18.882812 40.976562 19.121094 41.121094 19.375 41.242188 C 19.632812 41.359375 19.894531 41.453125 20.167969 41.511719 C 20.445312 41.574219 20.722656 41.601562 21.003906 41.601562 C 21.28125 41.601562 21.558594 41.570312 21.835938 41.511719 C 22.109375 41.449219 22.371094 41.359375 22.625 41.242188 C 22.882812 41.121094 23.117188 40.976562 23.339844 40.804688 C 23.5625 40.632812 23.761719 40.4375 23.941406 40.222656 C 24.121094 40.003906 24.273438 39.773438 24.402344 39.523438 C 24.527344 39.273438 24.625 39.011719 24.695312 38.738281 C 24.765625 38.464844 24.804688 38.191406 24.8125 37.910156 C 24.820312 37.628906 24.796875 37.351562 24.746094 37.074219 L 23.023438 28.308594 L 28.011719 35.710938 C 28.171875 35.941406 28.351562 36.15625 28.554688 36.347656 C 28.757812 36.539062 28.980469 36.707031 29.222656 36.851562 C 29.464844 36.992188 29.71875 37.109375 29.984375 37.195312 C 30.25 37.28125 30.523438 37.339844 30.800781 37.367188 C 31.082031 37.394531 31.359375 37.390625 31.636719 37.355469 C 31.914062 37.320312 32.1875 37.253906 32.449219 37.160156 C 32.714844 37.066406 32.964844 36.945312 33.203125 36.792969 C 33.4375 36.644531 33.65625 36.46875 33.855469 36.273438 C 34.050781 36.074219 34.226562 35.855469 34.375 35.617188 C 34.527344 35.382812 34.648438 35.132812 34.742188 34.867188 C 34.839844 34.605469 34.902344 34.332031 34.9375 34.054688 C 34.972656 33.777344 34.976562 33.5 34.949219 33.21875 C 34.921875 32.941406 34.867188 32.667969 34.777344 32.402344 C 34.691406 32.132812 34.578125 31.878906 34.433594 31.640625 C 34.289062 31.398438 34.121094 31.175781 33.929688 30.972656 C 33.738281 30.769531 33.523438 30.585938 33.292969 30.429688 L 25.890625 25.441406 L 34.65625 27.140625 C 34.933594 27.191406 35.210938 27.214844 35.492188 27.207031 C 35.773438 27.199219 36.050781 27.160156 36.320312 27.089844 C 36.59375 27.023438 36.855469 26.921875 37.105469 26.796875 C 37.355469 26.667969 37.589844 26.515625 37.804688 26.335938 C 38.019531 26.160156 38.214844 25.957031 38.386719 25.734375 C 38.558594 25.515625 38.703125 25.277344 38.824219 25.023438 C 38.941406 24.769531 39.03125 24.503906 39.09375 24.230469 C 39.15625 23.957031 39.183594 23.679688 39.183594 23.398438 C 39.183594 23.117188 39.152344 22.839844 39.089844 22.566406 C 39.03125 22.296875 38.9375 22.03125 38.820312 21.777344 C 38.699219 21.527344 38.554688 21.289062 38.382812 21.066406 C 38.210938 20.847656 38.015625 20.648438 37.800781 20.46875 C 37.585938 20.292969 37.351562 20.140625 37.101562 20.011719 C 36.851562 19.886719 36.59375 19.789062 36.320312 19.71875 C 36.050781 19.652344 35.773438 19.613281 35.496094 19.605469 C 35.214844 19.597656 34.9375 19.617188 34.664062 19.671875 Z M 34.664062 19.671875 " fill-opacity="1" fill-rule="nonzero"/></g><g fill="#000000" fill-opacity="1"><g transform="translate(41.452768, 37.659842)"><g><path d="M 8.203125 -10.953125 L 8.203125 0 L 1.984375 0 L 1.984375 -27.296875 L 8.203125 -27.296875 L 8.203125 -16.421875 L 17.015625 -16.421875 L 17.015625 -27.296875 L 23.234375 -27.296875 L 23.234375 0 L 17.015625 0 L 17.015625 -10.953125 Z M 8.203125 -10.953125 "/></g></g></g><g fill="#000000" fill-opacity="1"><g transform="translate(65.013855, 37.659842)"><g><path d="M 3.140625 -2.09375 C 1.554688 -3.832031 0.765625 -5.957031 0.765625 -8.46875 C 0.765625 -10.988281 1.554688 -13.117188 3.140625 -14.859375 C 4.734375 -16.597656 6.753906 -17.46875 9.203125 -17.46875 C 11.453125 -17.46875 13.304688 -16.765625 14.765625 -15.359375 L 14.765625 -16.984375 L 20.625 -16.984375 L 20.625 0 L 14.828125 0 L 14.828125 -1.921875 L 14.765625 -1.921875 C 13.304688 -0.304688 11.453125 0.5 9.203125 0.5 C 6.753906 0.5 4.734375 -0.363281 3.140625 -2.09375 Z M 8.125 -11.34375 C 7.363281 -10.59375 6.984375 -9.632812 6.984375 -8.46875 C 6.984375 -7.300781 7.347656 -6.347656 8.078125 -5.609375 C 8.804688 -4.867188 9.765625 -4.5 10.953125 -4.5 C 12.097656 -4.5 13.039062 -4.875 13.78125 -5.625 C 14.519531 -6.375 14.890625 -7.320312 14.890625 -8.46875 C 14.890625 -9.632812 14.507812 -10.59375 13.75 -11.34375 C 12.988281 -12.09375 12.054688 -12.46875 10.953125 -12.46875 C 9.828125 -12.46875 8.882812 -12.09375 8.125 -11.34375 Z M 8.125 -11.34375 "/></g></g></g><g fill="#000000" fill-opacity="1"><g transform="translate(85.96072, 37.659842)"><g><path d="M 19.453125 -14.859375 C 21.046875 -13.117188 21.84375 -10.988281 21.84375 -8.46875 C 21.84375 -5.957031 21.046875 -3.832031 19.453125 -2.09375 C 17.867188 -0.363281 15.851562 0.5 13.40625 0.5 C 11.15625 0.5 9.300781 -0.304688 7.84375 -1.921875 L 7.78125 -1.921875 L 7.78125 0 L 1.984375 0 L 1.984375 -28.453125 L 7.84375 -28.453125 L 7.84375 -15.359375 C 9.300781 -16.765625 11.15625 -17.46875 13.40625 -17.46875 C 15.851562 -17.46875 17.867188 -16.597656 19.453125 -14.859375 Z M 14.53125 -5.609375 C 15.257812 -6.347656 15.625 -7.300781 15.625 -8.46875 C 15.625 -9.632812 15.242188 -10.59375 14.484375 -11.34375 C 13.722656 -12.09375 12.78125 -12.46875 11.65625 -12.46875 C 10.550781 -12.46875 9.613281 -12.09375 8.84375 -11.34375 C 8.082031 -10.59375 7.703125 -9.632812 7.703125 -8.46875 C 7.703125 -7.320312 8.070312 -6.375 8.8125 -5.625 C 9.550781 -4.875 10.5 -4.5 11.65625 -4.5 C 12.84375 -4.5 13.800781 -4.867188 14.53125 -5.609375 Z M 14.53125 -5.609375 "/></g></g></g><g fill="#000000" fill-opacity="1"><g transform="translate(106.907585, 37.659842)"><g><path d="M 2.546875 -26.4375 C 3.234375 -27.125 4.050781 -27.46875 5 -27.46875 C 5.945312 -27.46875 6.757812 -27.125 7.4375 -26.4375 C 8.125 -25.757812 8.46875 -24.941406 8.46875 -23.984375 C 8.46875 -23.035156 8.125 -22.21875 7.4375 -21.53125 C 6.757812 -20.851562 5.945312 -20.515625 5 -20.515625 C 4.050781 -20.515625 3.234375 -20.851562 2.546875 -21.53125 C 1.859375 -22.21875 1.515625 -23.035156 1.515625 -23.984375 C 1.515625 -24.941406 1.859375 -25.757812 2.546875 -26.4375 Z M 1.984375 -16.984375 L 1.984375 0 L 7.84375 0 L 7.84375 -16.984375 Z M 1.984375 -16.984375 "/></g></g></g><g fill="#000000" fill-opacity="1"><g transform="translate(115.246622, 37.659842)"><g><path d="M 2.984375 -16.984375 L 2.984375 -23.296875 L 8.84375 -23.296875 L 8.84375 -16.984375 L 12.40625 -16.984375 L 12.40625 -12.515625 L 8.84375 -12.515625 L 8.84375 -7.109375 C 8.84375 -5.546875 9.28125 -4.765625 10.15625 -4.765625 C 10.375 -4.765625 10.601562 -4.804688 10.84375 -4.890625 C 11.09375 -4.984375 11.285156 -5.070312 11.421875 -5.15625 L 11.609375 -5.296875 L 13.078125 -0.5625 C 11.816406 0.144531 10.378906 0.5 8.765625 0.5 C 7.660156 0.5 6.710938 0.304688 5.921875 -0.078125 C 5.128906 -0.460938 4.53125 -0.976562 4.125 -1.625 C 3.71875 -2.28125 3.425781 -2.96875 3.25 -3.6875 C 3.070312 -4.40625 2.984375 -5.171875 2.984375 -5.984375 L 2.984375 -12.515625 L 0.53125 -12.515625 L 0.53125 -16.984375 Z M 2.984375 -16.984375 "/></g></g></g><g fill="#000000" fill-opacity="1"><g transform="translate(126.663162, 37.659842)"><g><path d="M 3.59375 -2.015625 C 1.707031 -3.691406 0.765625 -5.84375 0.765625 -8.46875 C 0.765625 -11.09375 1.742188 -13.25 3.703125 -14.9375 C 5.671875 -16.625 8.097656 -17.46875 10.984375 -17.46875 C 13.828125 -17.46875 16.222656 -16.617188 18.171875 -14.921875 C 20.128906 -13.222656 21.109375 -11.070312 21.109375 -8.46875 C 21.109375 -5.863281 20.15625 -3.71875 18.25 -2.03125 C 16.34375 -0.34375 13.921875 0.5 10.984375 0.5 C 7.941406 0.5 5.476562 -0.335938 3.59375 -2.015625 Z M 8.125 -11.34375 C 7.363281 -10.59375 6.984375 -9.632812 6.984375 -8.46875 C 6.984375 -7.300781 7.347656 -6.347656 8.078125 -5.609375 C 8.804688 -4.867188 9.765625 -4.5 10.953125 -4.5 C 12.097656 -4.5 13.039062 -4.875 13.78125 -5.625 C 14.519531 -6.375 14.890625 -7.320312 14.890625 -8.46875 C 14.890625 -9.632812 14.507812 -10.59375 13.75 -11.34375 C 12.988281 -12.09375 12.054688 -12.46875 10.953125 -12.46875 C 9.828125 -12.46875 8.882812 -12.09375 8.125 -11.34375 Z M 8.125 -11.34375 "/></g></g></g></svg>
            </a>
        </li>
        <span class="menu">
                <li><a href="">About us</a></li>
                <li><a href="">Tips</a></li>
            </span>
    </ul>
    </div>
    <div class="col" ></div>
</div>
    <div class="box">

        <div class="habit-wrapper" id="wrapper-today" >
            <h1 class="today-habits-h">Today</h1>
            <div id="today-habits" class="today-habits">
                {% set allHabits = 0 %}
                {% set doneHabits = 0 %}

                {% if todayHabits is defined and todayHabits|length %}
                    {% for habit in todayHabits %}

                        {% if ( habit.lastExecution|date("m/d/Y") != date|date("m/d/Y") )%}
                            {% set variable = 'check' %}
                        {% else %}
                            {% set variable = 'uncheck' %}

                        {% endif %}

                        <!-- habit -->
                        <div class="habit habit-{{variable}}" id="habit-{{ habit.id }}">
                            <div id="icon-{{ habit.id }}" class="icon-{{ habit.image }} icon"></div>
                            <!-- name -->
                            <div id="name-{{ habit.id }}" class="habit-name name-{{variable}} name-{{ habit.id }}">{{ habit.name }}</div>

                            <div class="streak-container">
                                <div class="streak">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" zoomAndPan="magnify" viewBox="0 0 30 30.000001" height="40" preserveAspectRatio="xMidYMid meet" version="1.0"><defs><clipPath id="d1842937f3"><path d="M 1.828125 0 L 27.957031 0 L 27.957031 29.03125 L 1.828125 29.03125 Z M 1.828125 0 " clip-rule="nonzero"/></clipPath></defs><g clip-path="url(#d1842937f3)"><path fill="#f15a24" d="M 1.832031 10.578125 L 10.6875 11.328125 L 7.859375 5.6875 L 12.925781 9.007812 L 14.867188 0 L 16.761719 9.886719 L 21.800781 6.1875 L 19.359375 12.867188 L 27.953125 16.625 L 19.199219 16.199219 L 22.074219 22.429688 L 16.371094 17.929688 L 14.894531 29.035156 L 12.535156 17.050781 L 3.78125 18.636719 L 9.9375 14.070312 L 1.832031 10.578125 " fill-opacity="1" fill-rule="nonzero"/></g><path fill="#f7931e" d="M 13.398438 16.878906 C 13.304688 16.417969 12.871094 16.109375 12.414062 16.171875 C 12.402344 16.175781 12.390625 16.175781 12.378906 16.179688 L 7.351562 17.089844 L 10.457031 14.785156 C 10.710938 14.597656 10.847656 14.285156 10.808594 13.96875 C 10.773438 13.65625 10.574219 13.382812 10.28125 13.257812 L 7.179688 11.917969 L 10.613281 12.210938 C 10.679688 12.214844 10.746094 12.214844 10.808594 12.203125 C 11.050781 12.171875 11.273438 12.03125 11.414062 11.824219 C 11.59375 11.554688 11.613281 11.214844 11.472656 10.925781 L 10.113281 8.222656 L 12.449219 9.75 C 12.628906 9.867188 12.839844 9.914062 13.046875 9.886719 C 13.121094 9.875 13.191406 9.855469 13.261719 9.828125 C 13.527344 9.714844 13.722656 9.480469 13.785156 9.195312 L 14.816406 4.40625 L 15.898438 10.054688 C 15.957031 10.355469 16.160156 10.601562 16.441406 10.710938 C 16.582031 10.769531 16.738281 10.785156 16.882812 10.765625 C 17.023438 10.746094 17.160156 10.691406 17.28125 10.605469 L 19.972656 8.625 L 18.535156 12.5625 C 18.375 13 18.582031 13.492188 19.011719 13.679688 L 23.183594 15.503906 L 19.238281 15.3125 C 19.183594 15.3125 19.128906 15.3125 19.074219 15.320312 C 18.832031 15.355469 18.609375 15.492188 18.46875 15.703125 C 18.296875 15.960938 18.269531 16.292969 18.402344 16.574219 L 19.734375 19.457031 L 16.910156 17.234375 C 16.722656 17.082031 16.480469 17.019531 16.25 17.054688 C 16.175781 17.0625 16.105469 17.082031 16.039062 17.109375 C 15.746094 17.230469 15.542969 17.5 15.5 17.8125 L 14.726562 23.628906 L 13.398438 16.878906 " fill-opacity="1" fill-rule="nonzero"/><path fill="#fbb03b" d="M 14.257812 16.707031 C 14.078125 15.785156 13.214844 15.164062 12.292969 15.296875 C 12.269531 15.300781 12.246094 15.300781 12.226562 15.304688 L 10.921875 15.542969 L 10.976562 15.5 C 11.484375 15.125 11.753906 14.5 11.683594 13.867188 C 11.644531 13.539062 11.515625 13.234375 11.320312 12.980469 C 11.652344 12.851562 11.941406 12.621094 12.144531 12.316406 C 12.46875 11.828125 12.53125 11.210938 12.320312 10.671875 C 12.589844 10.769531 12.882812 10.804688 13.171875 10.761719 C 13.316406 10.742188 13.457031 10.703125 13.59375 10.648438 C 14.128906 10.425781 14.519531 9.953125 14.644531 9.382812 L 14.765625 8.816406 L 15.035156 10.222656 C 15.152344 10.824219 15.554688 11.3125 16.117188 11.539062 C 16.398438 11.648438 16.707031 11.6875 17.007812 11.644531 C 17.289062 11.601562 17.566406 11.492188 17.796875 11.320312 L 18.144531 11.066406 L 17.710938 12.253906 C 17.386719 13.136719 17.804688 14.117188 18.660156 14.492188 L 18.683594 14.503906 C 18.300781 14.621094 17.964844 14.871094 17.738281 15.210938 C 17.472656 15.605469 17.382812 16.09375 17.476562 16.554688 L 17.453125 16.535156 C 17.078125 16.242188 16.597656 16.109375 16.125 16.175781 C 15.984375 16.195312 15.839844 16.234375 15.707031 16.289062 C 15.125 16.53125 14.710938 17.066406 14.628906 17.695312 L 14.558594 18.226562 L 14.257812 16.707031 " fill-opacity="1" fill-rule="nonzero"/></svg>
                                </div>


                                <div id="streak" class="streak-{{ habit.id }} ">{{ habit.streak}}</div>
                            </div>
                            <!-- modal buttons -->
                            <div class="button-conteiner">

                                <button habit-id="{{ habit.id }}"
                                        id="Button-{{ habit.id }}" type="button"
                                        class="myButton  button-{{ variable }}"
                                        {% if ( habit.lastExecution|date("m/d/Y") != date|date("m/d/Y") ) %}
                                            onclick="showModal({{ habit.id }})"
                                            status="check"
                                        {% else %}
                                            status="uncheck"
                                        {% endif %}
                                        data-bs-toggle="modal"
                                        data="{{ habit.id }}"
                                        href="{{ url('habit_change', {id: habit.id}) }}" title="{{ 'action.view'|trans }}">
                                </button>

                            </div>
                            <!-- Modal window -->
                            <div class="modal fade" id="exampleModalLong-{{ habit.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">

                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                Continue
                                            </button>

                                            <div></div>
                                            {% set increased = habit.streak +1 %}

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div><!-- habit closure-->
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="middle-section">
            <div class="middle-section-first-row">
                <div class="todays-rate">
                    <h1>TODAY YOU COMPLETED <b id="percentage">{{percentage}}</b> % OF YOUR GOAL</h1>
                    <div class="progress">
                        <div class="progress-bar " style="--width:{{ percentage }}" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" id="create-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <h3>CREATE <br> NEW <br> HABITS</h3>
                </button>

            </div>
            <div class="middle-section-second-row">
            </div>
        </div>
        <!--################################# all habits ############################-->


    </div>

    <div class="habit-wrapper-all">
        <div class="all-habits-h"> <h3 class="title-habits">Habit list</h3><button id="delete"><i class="fa-solid fa-pen"></i></button></div>
        <div id="all-habits" class="today-habits">



            {% if habits is defined and habits|length %}
                {% for habit in habits %}
                    <div class="habit habit-all " id="habit-all">

                        <div id="icon-{{ habit.id }}" class="icon-{{ habit.image }} icon"></div>
                        <div id="habit-name-{{ habit.id }}" class="name">
                            <a href="{{ url('habit_show', {id: habit.id}) }}" title="{{ 'action.view'|trans }}">
                                {{ habit.name }}
                            </a>
                            <div class="days">

                                <div >
                                    <i  id="monday" {% if (habit.monday == 1) %}
                                        class="fa-solid fa-circle"
                                    {% else %}
                                        class="fa-regular fa-circle"
                                    {%endif%}
                                    ></i>
                                </div>
                                <div>
                                    <i id="tusday" {% if (habit.tusday == 1) %}
                                        class="fa-solid fa-circle"
                                    {% else %}
                                        id="monday" class="fa-regular fa-circle"
                                    {%endif%}
                                    ></i>
                                </div>
                                <div>
                                    <i  id="wednesday" {% if (habit.wednesday == 1) %}
                                        class="fa-solid fa-circle"
                                    {% else %}
                                        class="fa-regular fa-circle"
                                    {%endif%}
                                    ></i>

                                </div>
                                <div>

                                    <i  id="thursday"   {% if(habit.thursday == 1) %}
                                        class="fa-solid fa-circle"
                                    {% else %}
                                        class="fa-regular fa-circle"
                                    {%endif%}
                                    ></i>
                                </div>

                                <div >

                                    <i id="friday"  {% if (habit.friday == 1 )%}
                                        class="fa-solid fa-circle"
                                    {% else %}
                                        class="fa-regular fa-circle"
                                    {%endif%}
                                    ></i>
                                </div>
                                <div >

                                    <i id="sathurday"  {% if (habit.sathurday == 1) %}
                                        class="fa-solid fa-circle"
                                    {% else %}
                                        class="fa-regular fa-circle"
                                    {%endif%}
                                    ></i>
                                </div>
                                <div>
                                    <i id="sunday"  {% if (habit.sunday == 1) %}
                                        class="fa-solid fa-circle"
                                    {% else %}
                                        class="fa-regular fa-circle"
                                    {%endif%}
                                    ></i>
                                </div>

                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1>Add habit</h1>

                    <form id="form-create" class="create-form" action="{{ path('habit_create') }}" method="post">

                        {{ form_row(create.name) }}
                        {{ form_row(create.time) }}
                        {{ form_row(create.place) }}
                        {{ form_row(create.monday) }}
                        {{ form_row(create.tusday) }}
                        {{ form_row(create.wednesday) }}
                        {{ form_row(create.thursday) }}
                        {{ form_row(create.friday) }}
                        {{ form_row(create.sathurday) }}
                        {{ form_row(create.sunday) }}
                        {{ form_row(create.requisites) }}
                        {{ form_row(create.notes) }}
                        {{ form_row(create._token) }}
                        <div style="display: none;">
                            {{ form_row(create.image) }}
                        </div >
                        <div class="icons-container">
                            {% for child in create.image %}
                                <div>
                                    <label  onclick="labelActive('{{ child.vars.id }}')" for="{{ child.vars.id }}" class="required radio" id="{{ child.vars.id }}">
                                        <div class="{{ child.vars.id }} icon"> </div>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn" data-bs-dismiss="modal">Add</button>
                    </form>
                </div>


            </div>
        </div>
    </div>


{% endblock  %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#today-habits').on('click', '.myButton', function() {
                $.ajax({
                    type: 'GET',
                    url: $(this).attr('href'),
                    dataType: 'json',
                    success: function(response) {
                        $('#percentage').text(response.percentage);
                        $('.progress-bar').attr('style','--width:'+response.percentage);
                        $('.streak-' + response.id).text(response.streak);
                        console.log(response.percentage)
                    }
                });
                $('#name-'+$(this).attr('habit-id')).toggleClass("name-check");
                $('#name-'+$(this).attr('habit-id')).toggleClass("name-uncheck");
                $('#habit-'+$(this).attr('habit-id')).toggleClass("habit-check");
                $('#habit-'+$(this).attr('habit-id')).toggleClass("habit-uncheck");
                $('#Button-'+$(this).attr('habit-id')).toggleClass("button-check");
                $('#Button-'+$(this).attr('habit-id')).toggleClass("button-uncheck");
                $(this).toggleClass("uncheck");
                $(this).toggleClass("check");
                if ($(this).attr('status')==='check'){
                    $(this).attr("status", "uncheck")
                }
                else{
                    $(this).attr("status", "check")
                }
            });
        });
        function showModal(objectId) {
            // 2 second delay
            if ($('#Button-' + objectId).attr('status') == 'check'){
                setTimeout(function() {
                    $('#exampleModalLong-' + objectId).modal('show');
                }, 1000);
            }
        }
    </script>
    {{ parent() }}
    <script>
        $('.edit-form').submit(function(e) {
            e.preventDefault();
            var formData = $(this).serialize();
            var formAction = $(this).attr('action');
            $.ajax({
                url: formAction,
                method: 'POST',
                data: formData,
                dataType: 'json',
                success: function(response) {
                    $('#habit-name-' + response.id).text(response.name);
                    $('#name-' + response.id).text(response.name);
                    $('#icon-' + response.id).removeClass();
                    $('#icon-' + response.id).addClass('icon-'+ response.icon);
                    $('#icon-' + response.id).addClass('icon');
                    $('#habit-icon-' + response.id).removeClass();
                    $('#habit-icon-' + response.id).addClass('icon-'+ response.icon);
                    $('#habit-icon-' + response.id).addClass('icon');
                    console.log( response.day);
                },
            });
        });
    </script>
    <script>
        $('.create-form').submit(function(a) {
            a.preventDefault();
            var formData = $(this).serialize();
            var formAction = $(this).attr('action');
            $.ajax({
                url: formAction,
                method: 'POST',
                data: formData,
                dataType: 'json',
                success: function( response, data) {
                    var habitId = response.id;
                    var habitName = response.name;
                    var habitImage = response.image;
                    var habitDiv = $('<div>', {
                        class: 'habit habit-' +  habitId,
                        html:
                            '<div id="habit-icon-' +  habitId + '" class="icon-' + habitImage + ' icon"></div>' +
                            '<div id="habit-name-' +  habitId + '" class="name">' + habitName + '</div>' +
                            '<div/>'
                    });
                    $('#all-habits').empty();
                    $('#all-habits').html(response.habits);
                    console.log(response);
                    $('#today-habits').empty();
                    $('#today-habits').html(response.html);
                    $('.progress-bar').attr('style','--width:'+response.percentage);
                    $('#percentage').text(response.percentage);
                },
            });
        });
    </script>
    <script>
        $('#delete').click(function() {
            $.ajax({
                url: '/render_html',
                method: 'GET',
                dataType: 'json',
                success: function(response) {
                    $('#all-habits').empty();
                    $('#all-habits').html(response.html);
                }
            });
        });
        function modal(id) {
            $('#delete-' + id).modal('show');
            console.log('#delete-' + id)
        }
    </script>

    <script>
        function delete_habit($id) {
            console.log('dzislsm');
            $.ajax({
                url: '/'+ $id+'/delete' ,
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    $('#all-habits').empty();
                    $('#all-habits').html(response.habits);
                    console.log(response);
                    $('#today-habits').empty();
                    $('#today-habits').html(response.html);
                    $('.progress-bar').attr('style','--width:'+response.percentage);
                    $('#percentage').text(response.percentage)
                },
            });
        }
    </script>



{% endblock %}
