{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/about.css') }}">
    <link rel="stylesheet" href="{{ asset('css/logo-nav-page.css') }}">

{% endblock %}

{% block body %}
    <!-- nav bar -->
    <!-- navbar wrapping -->
    <div id="row-nav" class="row row-nav d-flex justify-content-end">
        <nav id="nav-bar" class=" navbar navbar-expand-sm">
            {% if is_granted('ROLE_USER') %}
                <a href="{{ url('app_main') }}" class="logo-nav navbar-brand">
                    <img src="{{ asset('images/logo.png') }}" alt="Image">
                </a>
            {% else %}
                <a href="{{ url('app_login') }}" class="logo-nav navbar-brand">
                    <img src="{{ asset('images/logo.png') }}" alt="Image">
                </a>
            {% endif %}

            <!--nav toogler-->
            <button class="navbar-toggler" id="navbar-toggler" onclick="changeToggler()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"> <i class="fa-solid fa-bars"></i></span>
            </button>

            <!-- nav-bar -->
            <div class=" collapse navbar-collapse " id="navbarSupportedContent">
                <ul id="my-ul" class="ms-auto navbar-nav">

                    <li class="nav-item">
                        <a   class="nav-link" id="about" href="{{ url('app_about' )}}">About us</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link" id="how" href="{{ url('app_blog' )}}">Blog</a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <div class="user">
                            <div class="user-pic">
                                <img id="user-pic-image" src="{{ asset('uploads/profile_images/'~app.user.image) }}">
                            </div>
                            <div class="username">
                                <p class="p1">
                                    <a  class="nav-link"  href="{{ url('app_main') }}">{{ app.user.username }}</a>
                                </p>
                                <p class="p2">User</p>
                            </div>
                        </div>
                    {% else %}
                        <li class="nav-item d-none d-sm-block">
                            <a  class="nav-link button button-register" id="button-register"  href="{{ url('app_login') }}">Log in</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    <div class="box">
        <div class="content">
            <h2>About web app</h2>
            <p>
                Autorem niniejszego serwisu jest Barbara Żygilewicz
                Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne przetwarzanie informacji), przygotowanej pod kierunkiem dr. Piotra Śliwińskiego na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
            </p>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/093c7f6b78.js" crossorigin="anonymous"></script>
    <script src="{{ asset('js/login.js') }}"></script>
    <script src="{{ asset('js/main/nav.js') }}"></script>

{% endblock %}
