

    {% if habits is defined and habits|length %}
        {% for habit in habits %}

            <div class=" habit-all " id="habit-all">
                <a href="{{ url('habit_show', {id: habit.id}) }}" title="{{ 'action.view'|trans }}">
                    <div class ="icon-name-wrapper">
                        <div id="icon-{{ habit.id }}" class="habit_image_{{ habit.image }} icon"></div>
                        <div id="habit-name-{{ habit.id }}" class="name">
                            <span> {{ habit.name }}</span>
                            <div class="days">

                                <div >
                                    <i  id="monday" {% if (habit.monday == 1) %}
                                        class="fa-solid fa-circle"
                                    {% else %}
                                        class="fa-regular fa-circle"
                                    {%endif%}
                                    ></i>
                                </div>
                                <div>
                                    <i id="tusday" {% if (habit.tusday == 1) %}
                                        class="fa-solid fa-circle"
                                    {% else %}
                                        id="monday" class="fa-regular fa-circle"
                                    {%endif%}
                                    ></i>
                                </div>
                                <div>
                                    <i  id="wednesday" {% if (habit.wednesday == 1) %}
                                        class="fa-solid fa-circle"
                                    {% else %}
                                        class="fa-regular fa-circle"
                                    {%endif%}
                                    ></i>

                                </div>
                                <div>

                                    <i  id="thursday"   {% if(habit.thursday == 1) %}
                                        class="fa-solid fa-circle"
                                    {% else %}
                                        class="fa-regular fa-circle"
                                    {%endif%}
                                    ></i>
                                </div>

                                <div >

                                    <i id="friday"  {% if (habit.friday == 1 )%}
                                        class="fa-solid fa-circle"
                                    {% else %}
                                        class="fa-regular fa-circle"{%endif%}
                                    ></i>
                                </div>
                                <div >

                                    <i id="sathurday"  {% if (habit.sathurday == 1) %}
                                        class="fa-solid fa-circle"
                                    {% else %}
                                        class="fa-regular fa-circle"
                                    {%endif%}
                                    ></i>
                                </div>
                                <div>
                                    <i id="sunday"  {% if (habit.sunday == 1) %}
                                        class="fa-solid fa-circle"
                                    {% else %}
                                        class="fa-regular fa-circle"
                                    {%endif%}
                                    ></i>
                                </div>

                            </div>
                        </div>
                    </div>
                </a>
                <div class="dropdown d-flex">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-habit" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownMenuButton-habit">
                        <button type="button" class="image-button dropdown-item delete" data-bs-toggle="modal" data-bs-target="#modal-delete-habit-{{ habit.id }}">
                            <i class="fa-solid fa-trash"></i><p>Usuń nawyk</p>
                        </button>


                    </div>
                </div>
            </div>

            <div class="modal fade modal-delete-habit" id="modal-delete-habit-{{ habit.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <button type="button" class="close button-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <form id="form-delete-habit" class="form-delete-habit" action="{{ path('habit_delete', {id: habit.id})}}" method="post">
                                {{ form_row(deleteForms[habit.id]._token) }}
                                <button class="button-save" type="submit">Usuń</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    {% endif %}
