


{% if habits is defined and habits|length %}
    {% for habit in habits %}
        <div class="habit habit-all habit-all-delete gentle-tilt-move-shake" id="habit-all">

            <div id="icon-{{ habit.id }}" class="icon-{{ habit.image }} icon"></div>
            <div id="habit-name-{{ habit.id }}" class="name habit-name ">

                   <span> {{ habit.name }}</span>

                <div class="days">

                    <div >
                        <i  id="monday" {% if (habit.monday == 1) %}
                            class="fa-solid fa-circle"
                        {% else %}
                            class="fa-regular fa-circle"
                        {%endif%}
                        ></i>
                    </div>
                    <div>
                        <i id="tusday" {% if (habit.tusday == 1) %}
                            class="fa-solid fa-circle"
                        {% else %}
                            id="monday" class="fa-regular fa-circle"
                        {%endif%}
                        ></i>
                    </div>
                    <div>
                        <i  id="wednesday" {% if (habit.wednesday == 1) %}
                            class="fa-solid fa-circle"
                        {% else %}
                            class="fa-regular fa-circle"
                        {%endif%}
                        ></i>

                    </div>
                    <div>

                        <i  id="thursday"   {% if(habit.thursday == 1) %}
                            class="fa-solid fa-circle"
                        {% else %}
                            class="fa-regular fa-circle"
                        {%endif%}
                        ></i>
                    </div>

                    <div >

                        <i id="friday"  {% if (habit.friday == 1 )%}
                            class="fa-solid fa-circle"
                        {% else %}
                            class="fa-regular fa-circle"
                        {%endif%}
                        ></i>
                    </div>
                    <div >

                        <i id="sathurday"  {% if (habit.sathurday == 1) %}
                            class="fa-solid fa-circle"
                        {% else %}
                            class="fa-regular fa-circle"
                        {%endif%}
                        ></i>
                    </div>
                    <div>
                        <i id="sunday"  {% if (habit.sunday == 1) %}
                            class="fa-solid fa-circle"
                        {% else %}
                            class="fa-regular fa-circle"
                        {%endif%}
                        ></i>
                    </div>

                </div>
            </div>
            <!-- Button trigger modal -->
            <button class="delete-button" onclick="modal({{ habit.id }})" data-bs-toggle="modal" data-bs-target="#delete-{{ habit.id }}">
                <i class="fa-solid fa-xmark"></i>
            </button>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="delete-{{ habit.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                            <button onclick="delete_habit({{ habit.id }})" type="submit" class="btn" data-bs-dismiss="modal">Add</button>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

